"on":
  push:
    branches:
      - test/failed-app
name: Deploy to test-required-app
jobs:
  porter-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set Github tag
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Setup porter
        uses: porter-dev/setup-porter@v0.1.0
      - name: Deploy stack
        timeout-minutes: 30
        run: porter apply
        env:
          PORTER_APP_NAME: test-required-app
          PORTER_CLUSTER: "5473"
          PORTER_DEPLOYMENT_TARGET_ID: 65d9a3c9-5cb3-4441-b4dd-1a5442de8426
          PORTER_HOST: https://dashboard.porter.run
          PORTER_PROJECT: "9267"
          PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
          # TODO: Uncomment this when the token is available
          # PORTER_TOKEN: ${{ secrets.PORTER_APP_9267_1107971867 }}
