"on":
  push:
    branches:
      - main
name: Deploy to test-required-app-1
jobs:
  porter-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set Github tag
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Setup porter
        uses: porter-dev/setup-porter@v0.1.0
      - name: Override porter CLI
        run: |
          docker pull ghcr.io/porter-dev/releases/porter-cli:0.66.0-dev.2-amd64
          docker cp $(docker create --platform linux/amd64 ghcr.io/porter-dev/releases/porter-cli:0.66.0-dev.2-amd64):/usr/local/bin/porter $(which porter)
      - name: Deploy stack
        timeout-minutes: 30
        run: porter apply
        env:
          PORTER_APP_NAME: test-required-app-1
          PORTER_CLUSTER: "1"
          PORTER_DEPLOYMENT_TARGET_ID: 33c402f7-047b-4765-8233-bf9494942ea4
          PORTER_HOST: https://noe-dev.withporter.run
          PORTER_PROJECT: "1"
          PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
          PORTER_TOKEN: ${{ secrets.PORTER_APP_1_1107971867 }}
